:root {
    --trans-light-blue: #55CDFC; /* Light blue color for transgender flag */
    --trans-pink: #F7A8B8; /* Pink color for transgender flag */
}

/* Wrapper */
.lockscreen_Container_3rFFU {
    flex-direction: column;
    justify-content: space-between;
    background: var(--trans-light-blue); /* Use light blue as the background */
}

/* NumPad container */
.lockscreen_NumericButtonInput_2wl_h {
    align-self: flex-start;
    display: grid;
    margin-left: 15px;
    margin-bottom: calc(40px + 8px);
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-column-gap: 32px;
    grid-row-gap: 0;
    background: var(--trans-pink); /* Use pink as the numpad background */
    border-radius: var(--capylock-container-roundRadius);
    padding: 12px 32px 12px 32px;
}

/* NumPad > Keys */
.lockscreen_NumericButtonOption_2c4Hz {
    color: var(--trans-light-blue); /* Use light blue as the text color */
}

/* Prompts */
.lockscreen_Details_aLaNw .lockscreen_Prompt_3aUT8,
.lockscreen_Directions_vNjDQ,
.lockscreen_Details_aLaNw .lockscreen_IncorrectPIN_OmybP {
    color: var(--trans-light-blue);
}

/* Avatar container */
.lockscreen_Details_aLaNw::before {
    background: var(--trans-pink); /* Use pink as the avatar container background */
}

/* Avatar */
.lockscreen_Details_aLaNw div > img {
    visibility: visible;
    filter: drop-shadow(0 0 10px var(--trans-pink)); /* Apply a drop shadow using pink color */
}

/* Indicators */
.lockscreen_Indicators_3fJq6 {
    padding: 12px;
    border-radius: 8px;
    background: var(--trans-light-blue); /* Use light blue as the indicator background */
}

/* Digit Indicators */
.lockscreen_DigitIndicator_3eHNj:not(.lockscreen_Filled_i68Yl) {
    border: 2px solid var(--trans-pink); /* Use pink as the border color for empty indicators */
}

.lockscreen_Filled_i68Yl {
    animation: capylock-anim-digit-pop 0.2s linear 1;
    background: var(--trans-light-blue) !important; /* Use light blue as the background for filled indicators */
    border: 2px solid var(--trans-light-blue) !important; /* Use light blue as the border color for filled indicators */
}
