.lockscreen_Container_3rFFU::after {
    position: absolute;
    width: 100%;
    height: var(--capylock-header-size);
    background: var(--transgender-bg-gradient); /* Use a variable for transgender flag colors */
    content: "";
    z-index: 0;
}

.lockscreen_Details_aLaNw .lockscreen_Prompt_3aUT8,
.lockscreen_Details_aLaNw .lockscreen_Directions_vNjDQ,
.lockscreen_Details_aLaNw .lockscreen_IncorrectPIN_OmybP {
    z-index: 1;
}

:root {
    --trans-light-blue: #55CDFC; /* Light blue color for transgender flag */
    --trans-pink: #F7A8B8; /* Pink color for transgender flag */
    --transgender-bg-gradient: radial-gradient(circle at 80% 0%, var(--trans-light-blue), var(--trans-pink));
}
